* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: #ebebeb;
}

/*--- Start page --*/
.header {
  min-height: 100vh;
  width: 100%;
  background-image:
    linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)),
    url(./img/mariko.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 333px;
}
.nav-links {
  flex: 1;
  text-align: center;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #bb0000;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 17px;
  color: #fff;
}
.visit-button {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 10px 28px;
  border: 1px solid #fdfdfd;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.visit-button:hover {
  background-color: #ff0000;
  color: #ffffff;
}
nav .fa {
  display: none;
}
